@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans+Caption:wght@400;700&family=Raleway:wght@700&family=Roboto:wght@400;500&family=Titillium+Web:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "PT Sans Caption";
}
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /*@media screen and (max-width: 500px) {
     width: 80%;
  }*/
}

.header__container {
  padding: 12px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contacts__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__burger-open {
  display: none; /* Скрыть изображение по умолчанию */
}

.contacts__address {
  margin-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address__icon {
  margin-top: -7px;
}

.address__icon img {
  width: 13px;
  height: 19px;
}

.adress__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 7px;
  margin-top: -9px;
}

.address__title {
  text-decoration: none;
  color: #364844;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.address__subtitle {
  color: #868686;
  font-weight: 400;
  font-size: 14px;
}

.contacts__watsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__phone {
  color: #364844;
  margin-left: 11px;
}

.contacts__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-contacts__phone {
  color: #364844;
  margin-left: 11px;
}

.contacts__btn {
  width: 196px;
  height: 43px;
  background: #0DBC91;
  border-radius: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  margin-left: 35px;
}
.contacts__btn:hover, .contacts__btn:active {
  background: #00D29F;
}

.contacts__btn2 {
  width: 196px;
  height: 43px;
  background: #F6F6F6;
  border-radius: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #1FA181;
}

@media (min-width: 767px) {
  .header__menu {
    width: 100%;
    background: #1FA181;
  }
  .menu {
    padding: 10px;
  }
}
.header__menu button {
  display: none; /* Скрыть изображение по умолчанию */
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item :hover {
  text-decoration: underline;
}
.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

/*-------------------------------*/
/*-------------------------------*/
@media (max-width: 767px) {
  .header__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .header__contacts {
    padding-right: 18px;
  }
  .address__title {
    font-family: "PT Sans Caption";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: right;
    color: #364844;
  }
  .contacts__phone {
    font-family: "PT Sans Caption";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #364844;
  }
  .contacts__btn,
.contacts__icon,
.address__icon,
.address__subtitle {
    display: none;
  }
  .contacts__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 38px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .contacts__burger-open {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 43px;
    cursor: pointer;
  }
  .contacts__burger-open span, .contacts__burger-open::before, .contacts__burger-open::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #1FA181;
  }
  .contacts__burger-open::before, .contacts__burger-open::after {
    content: "";
  }
  .contacts__burger-open::before {
    top: 0;
  }
  .contacts__burger-open::after {
    bottom: 0;
  }
  .contacts__burger-open span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .contacts__burger-open._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .contacts__burger-open._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .contacts__burger-open._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header__menu {
    z-index: 5;
    position: absolute;
    top: 65px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(69, 146, 127, 0.9);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu._active {
    left: 0;
  }
  .header__menu._active button {
    display: block;
  }
  .header__menu ::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background: #F7F7F7;
    z-index: 6;
  }
  .header__menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 48px 0 39px 4px;
  }
  .header__menu .menu__list .menu__item .menu__link {
    font-family: "PT Sans Caption";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
  .header__menu .menu__list .menu__item :hover {
    text-decoration: underline;
  }
  .header__menu .menu__list .menu__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
/*---PAGE----------------------------------------------------------*/
._ibg {
  position: absolute;
}
._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*----MAIN-BLOCK------------------------------------------------------------------*/
.main-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #F8FBFA;
}
.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 680px) {
  .main-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.main-block__body {
  padding: 144px 0px 162px 0px;
  position: relative;
  max-width: 400px;
  max-height: 532px;
  z-index: 2;
}
@media (max-width: 375px) {
  .main-block__body {
    padding: 34px 0px 53px 0px;
  }
}

.main-block__title {
  font-size: 36px;
  line-height: 47px;
  font-weight: 700;
  color: #364844;
}
@media (max-width: 375px) {
  .main-block__title {
    font-size: 26px;
    line-height: 34px;
  }
}

.main-block__text {
  margin-top: 14px;
  color: #364844;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 375px) {
  .main-block__text {
    font-size: 14px;
    line-height: 150%;
  }
}

.main-block__image {
  position: absolute;
  right: 0;
  max-width: 950px;
  max-height: 532px;
}
@media (max-width: 1180px) {
  .main-block__image {
    opacity: 0.5;
  }
}
@media (max-width: 680px) {
  .main-block__image {
    opacity: 1;
  }
}

@media (max-width: 680px) {
  .main-block__image {
    position: static;
    max-width: initial;
    max-height: initial;
    margin-bottom: 20px; /* Добавьте нужный отступ снизу */
  }
}
/*---check-up------------------------------------------------*/
.check-up {
  padding-top: 100px;
  padding-left: 17px;
  padding-right: 17px;
}

.check-up__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.check-up__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  min-width: 439px;
  position: relative;
  background: #E2F0EF;
  height: 440px;
  z-index: 2;
  padding: 53px 0 0 63px;
}

.check-up__title {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 49px;
  text-transform: uppercase;
  color: #364844;
}

.check-up__subtitle {
  margin-top: 2px;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #364844;
}

.check-up__list {
  margin-top: 16px;
  list-style-type: none;
}
.check-up__list .items {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #364844;
}
.check-up__list .item {
  position: relative;
  padding-left: 16px; /* 9px от начала каждой строчки + 7px для точки */
  line-height: 1.4;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #364844;
}
.check-up__list .item:not(:last-child) {
  margin-bottom: 13px; /* Расстояние между строками списка, кроме последней строки */
}
.check-up__list .item::before {
  content: "";
  position: absolute;
  top: 7px; /* Расстояние точки от начала каждой строчки */
  left: 0;
  width: 7px;
  height: 7px;
  background: #1FA181;
  border-radius: 50%;
}

.check-up__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
}
.check-up__price .price__discount {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #364844;
  margin-right: 16px;
}
.check-up__price .price__full {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration-line: line-through;
  color: #868686;
}

.check-up__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.check-up__button {
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 196px;
  height: 43px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 26px 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 2;
}
.check-up__button:hover, .check-up__button:active {
  background: #00D29F;
}
.check-up__button:not(:last-child) {
  margin-right: 14px;
}

.button_green {
  background: #0DBC91;
  color: #FFFFFF;
}

.button_border {
  border: 1px solid #0DBC91;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #0DBC91;
}
.button_border:hover, .button_border:active {
  color: #FFFFFF;
  background: #0DBC91;
  border: 1px solid #0DBC91;
}

.check-up__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
}

@media (min-width: 1192px) {
  .check-up__content::before {
    content: "";
    /* background-color: #E2F0EF; */
    position: absolute;
    left: 98%;
    top: 0px;
    height: 100%;
    width: 174px; /* Ширина нижней стороны трапеции */
    border-bottom: 440px solid #E2F0EF; /* Высота трапеции */
    border-left: 0px solid transparent; /* Ширина верхней стороны трапеции */
    border-right: 117px solid transparent; /* Ширина верхней стороны трапеции */
    overflow: hidden;
    z-index: 1;
  }
}
@media (max-width: 1191px) {
  .check-up__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .check-up__image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .check-up__content {
    width: 100%;
  }
}
/*------page__navigation--------------*/
.navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 34px 0 92px;
}

.navigation__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 169px;
  height: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: PT Sans Caption;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #C0C0C0;
}
.block__number .number__active-page {
  color: #364844;
}

.block__left-arrow svg :hover,
.block__left-arrow svg :active {
  fill: #0DBC91;
}

.right-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*------FOOTER-----------------------------*/
.footer {
  background-color: #08664F;
  padding: 35px 0;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 735px) {
  .footer__main .contacts__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__main .menu__list {
    margin-top: 31px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .footer__main .menu__list .menu__item:not(:last-child) {
    padding-bottom: 15px;
  }
  .footer__main .contacts__social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__item:not(:last-child) {
  margin-right: 15px;
}