//Файл обнуляющих стилей
@import 'nullstyle';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans+Caption:wght@400;700&family=Raleway:wght@700&family=Roboto:wght@400;500&family=Titillium+Web:ital@0;1&display=swap');

$color_button_1: #0DBC91;

body {
   font-family: 'PT Sans Caption';
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1140px;
   padding: 0 15px;
   margin: 0px auto;
   box-sizing: content-box;
}

.header__contacts {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 22px;
   padding-bottom: 12px;
}

.contacts__left {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.left-contacts__logo {

}

.left-contacts__address {
   margin-left: 24px;
   display: flex;
}

.address__icon {
   margin-top: -7px;
}

.address__icon img {
   width: 13px;
   height: 19px;
}

.adress__body {
   display: flex;
   flex-direction: column;
   padding-left: 7px;
   margin-top: -9px;
}

.address__title {
   text-decoration: none;
   color: #364844;
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
}

.address__subtitle {
   color: #868686;
   font-weight: 400;
   font-size: 14px;
   /* line-height: 150%; */
}

.contacts__right {
   display: flex;
   align-items: center;
}

.right-contacts__phone {
   color: #364844;
   margin-left: 11px;
}

.right-contacts__btn {
   width: 196px;
   height: 43px;
   background: #0DBC91;
   border-radius: 50px;
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: #FFFFFF;
   margin-left: 35px;

   &:hover,
   &:active {
      background: #00D29F;
}
}

.header__menu {
   width: 100%;
   background: #1FA181;
}

.menu {
   padding: 10px;
}

.menu__list {
   display: flex;
   flex-wrap: wrap;
}

.menu__item:not(:last-child) {
   margin-right: 30px;
}

.menu__link {
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #FFFFFF;
}
 
/*---PAGE----------------------------------------------------------*/ 

._ibg{
   position:absolute;
}
.page{
   flex: 1 1 auto;
}
/*----MAIN-BLOCK------------------------------------------------------------------*/
.main-block {
   align-items:center;
   position: relative;
   background: #F8FBFA;
   &__container{
      display: flex;
   }
   &__body {
      padding: 144px 0px 162px 0px;
      position: relative;
      max-width: 400px;
      max-height: 532px;
  }
}
.main-block__body > *:not(:last-child){
   //margin: 0px 0px 35px 0px;
} 
.main-block__title {
   font-size: 36px;
   line-height: 47px;
   font-weight: 700;
   color: #364844;
}
.main-block__text {
   margin-top: 14px;
   color: #364844;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
}
.main-block__image {
   position: absolute;
   right: 0;
   max-width: 950px;
   max-height: 532px;
}

/*---check-up------------------------------------------------*/
.check-up {
   padding-top: 100px;
}
.check-up__container {
   position: relative;
   background: #E2F0EF url('/img/check-up/doctor-working-table.jpg')right no-repeat;
   background-size:contain;
   height: 440px;
   &::before {
      content: '';
      /* background-color: #E2F0EF; */
      position: absolute;
      left: 40%;
      height: 100%;
      width: 174px; /* Ширина нижней стороны трапеции */
      border-bottom: 440px solid #E2F0EF; /* Высота трапеции */
      border-left: 0px solid transparent; /* Ширина верхней стороны трапеции */
      border-right: 115px solid transparent; /* Ширина верхней стороны трапеции */
      overflow: hidden;
    }
}
.check-up__body{
   padding: 53px 0 0 63px;
}
.check-up__title {
   font-family: 'PT Sans Caption';
   font-style: normal;
   font-weight: 700;
   font-size: 38px;
   line-height: 49px;
   text-transform: uppercase;
   color: #364844;
}
.check-up__subtitle {
   margin-top: 2px;
   font-family: 'PT Sans Caption';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 28px;
   color: #364844;
}
.check-up__list {
   margin-top: 16px;
   list-style-type: none;
   
   .items {
     font-family: 'PT Sans Caption';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 21px;
     color: #364844;
   }
   
   .item {
     position: relative;
     padding-left: 16px; /* 9px от начала каждой строчки + 7px для точки */
     line-height: 1.4;
     font-family: 'PT Sans Caption';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 21px;
     color: #364844;
     
     &:not(:last-child) {
       margin-bottom: 13px; /* Расстояние между строками списка, кроме последней строки */
     }
     
     &::before {
       content: '';
       position: absolute;
       top: 7px; /* Расстояние точки от начала каждой строчки */
       left: 0;
       width: 7px;
       height: 7px;
       background: #1FA181;
       border-radius: 50%;
     }
   }
 }
 

.check-up__price {
   display: flex;
   margin-top: 33px;
   .price__discount{
      font-family: 'PT Sans Caption';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      color: #364844;
      margin-right: 16px;
   }
   .price__full{
      font-family: 'PT Sans Caption';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-decoration-line: line-through;
      color: #868686;
   }
}
.check-up__buttons {
   display: flex;
   flex-wrap: wrap;
}
.check-up__button{
   border-radius: 50px;
   display: flex;
   width: 196px;
   height: 43px;
   justify-content: center;
   align-items: center;
   font-family: 'PT Sans Caption';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   text-align: center;
   margin: 26px 0;
   transition: all 0.3s ease 0s;
   &:hover {
      background: #00D29F;
   }
   &:not(:last-child) {
      margin-right: 14px;
    }
}
.check-up__button_green {
   background: #0DBC91;
   color: #FFFFFF;
}
.check-up__button_border {
   border: 1px solid #0DBC91;
   font-family: 'PT Sans Caption';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   
   text-align: center;
   
   color: #0DBC91;
   &:hover {
      color: #FFFFFF;
      background: #0DBC91;
      border: 1px solid #0DBC91;
  }
}