//Файл обнуляющих стилей
@import 'nullstyle';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans+Caption:wght@400;700&family=Raleway:wght@700&family=Roboto:wght@400;500&family=Titillium+Web:ital@0;1&display=swap');

$color_button_1: #0DBC91;

body {
   font-family: 'PT Sans Caption';
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1140px;
   padding: 0 15px;
   margin: 0px auto;
   box-sizing: content-box;
   /*@media screen and (max-width: 500px) {
      width: 80%;
   }*/
}


.header__contacts {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 22px;
   padding-bottom: 12px;

   @media (max-width: 680px) {
      flex-direction: column; /* Изменяем направление на столбец */
   }
}

//
.contacts__center {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-grow: 1;
}

.contacts__left {
   display: flex;
   justify-content: flex-start;
   align-items: center;

   
}

.left-contacts__logo {

}

.contacts__burger-open {
   display: none; /* Скрыть изображение по умолчанию */
   
   @media (max-width: 680px) {
      display: flex; /* Показать изображение на маленьких экранах */
      align-items: center;
      margin-right: 43px; /* Добавить отступ справа */
   }
}

.contacts__address {
   margin-left: 24px;
   display: flex;

   @media (max-width: 680px) {
      flex-direction: column; /* Изменяем направление на столбец */
      align-items: flex-start; /* Выравниваем элементы по левому краю */
   }
}

.address__icon {
   margin-top: -7px;

   @media (max-width: 680px) {
      display: none; /* Скрыть иконку на маленьких экранах */
   }
}

.address__icon img {
   width: 13px;
   height: 19px;
}

.adress__body {
   display: flex;
   flex-direction: column;
   padding-left: 7px;
   margin-top: -9px;
}

.address__title {
   text-decoration: none;
   color: #364844;
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;

   @media (max-width: 680px) {
      order: -1; /* Изменяем порядок элементов, чтобы телефон был выше */
   }
}

.address__subtitle {
   color: #868686;
   font-weight: 400;
   font-size: 14px;
   /* line-height: 150%; */

   @media (max-width: 680px) {
      display: none; /* Скрываем адрес на маленьких экранах */
   }
}

.contacts__watsapp {
   display: flex;
   align-items: center;
}
.contacts__phone {
   color: #364844;
   margin-left: 11px;

   @media (max-width: 680px) {
      order: -1; /* Изменяем порядок элементов, чтобы телефон был выше */
   }
}

.contacts__right {
   display: flex;
   align-items: center;

   @media (max-width: 680px) {
      margin-top: 12px; /* Добавляем отступ сверху */
   }
}

.right-contacts__phone {
   color: #364844;
   margin-left: 11px;

   @media (max-width: 680px) {
      order: -1; /* Изменяем порядок элементов, чтобы телефон был выше */
   }
}

.contacts__btn {
   width: 196px;
   height: 43px;
   background: #0DBC91;
   border-radius: 50px;
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: #FFFFFF;
   margin-left: 35px;

   &:hover,
   &:active {
      background: #00D29F;
   }

}

.header__menu {
   width: 100%;
   background: #1FA181;
}

.menu {
   padding: 10px;
}

.menu__list {
   display: flex;
   flex-wrap: wrap;
}

.menu__item:not(:last-child) {
   margin-right: 30px;
}

.menu__link {
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #FFFFFF;
}

@media (max-width: 720px) {
   .header__contacts_1 {
      align-items: flex-start;
   }
   .address__title {
      
   }
   .right-contacts__btn {
      display: none; 
   }
   .contacts__center {
      display: flex;
      flex-direction: column-reverse;
      margin-left: 60px;
   }

   .header__menu {
      display: none;
   }
   .left-contacts__burger-open {
      display: flex; /* Показать изображение на маленьких экранах */
      align-items: center;
      margin-right: 43px; /* Добавить отступ справа */
   }
}

@media (max-width: 680px) {
   .address__title {
      order: -1; /* Изменяем порядок элементов, чтобы заголовок был выше */
   }

   .right-contacts__phone {
      //margin-top: 8px; /* Добавляем отступ сверху */
   }

   .contacts__icon {
      display: none; /* Скрыть иконку на маленьких экранах */
   }

   .address__subtitle {
      display: none; /* Скрываем адрес на маленьких экранах */
   }

   .right-contacts__btn {
      display: none; 
   }

   .right-contacts__phone {
      order: -1; /* Изменяем порядок элементов, чтобы телефон был выше */
   }
   .header__menu {
      display: none;
   }
}

 
/*---PAGE----------------------------------------------------------*/ 

._ibg{
   position:absolute;
   img {
      object-fit: cover;
   }
}
.page{
   flex: 1 1 auto;
}
/*----MAIN-BLOCK------------------------------------------------------------------*/
.main-block {
   align-items:center;
   position: relative;
   background: #F8FBFA;
   &__container{
      display: flex;
      @media (max-width: 680px) {
         flex-direction: column-reverse;
      }
   }
   &__body {
      padding: 144px 0px 162px 0px;
      position: relative;
      max-width: 400px;
      max-height: 532px;
      z-index: 2;
      @media (max-width: 375px) {
         padding: 34px 0px 53px 0px;
      }
  }
}
.main-block__body > *:not(:last-child){
   //margin: 0px 0px 35px 0px;
} 
.main-block__title {
   font-size: 36px;
   line-height: 47px;
   font-weight: 700;
   color: #364844;
   @media (max-width: 375px) {
      font-size: 26px;
      line-height: 34px;
   }
}
.main-block__text {
   margin-top: 14px;
   color: #364844;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   @media (max-width: 375px) {
      font-size: 14px;
      line-height: 150%;
   }
}
.main-block__image {
   position: absolute;
   right: 0;
   max-width: 950px;
   max-height: 532px;
   @media (max-width: 1180px) {
      opacity: 0.5;
   }
   @media (max-width: 680px) {
      opacity: 1;

    }
}

@media (max-width: 680px) {
   .main-block__image {
     position: static;
     max-width: initial;
     max-height: initial;
     margin-bottom: 20px; /* Добавьте нужный отступ снизу */
   }
 }

/*---check-up------------------------------------------------*/
.check-up {
   padding-top: 100px;
}
.check-up__body {
   position: relative;
   background: #E2F0EF url('/img/check-up/doctor-working-table.jpg')right no-repeat;
   background-size:contain;
   height: 440px;
   &::before {
      content: '';
      /* background-color: #E2F0EF; */
      position: absolute;
      top: 0;
      left: 39%;
      height: 100%;
      width: 170px; /* Ширина нижней стороны трапеции */
      border-bottom: 440px solid #E2F0EF; /* Высота трапеции */
      border-left: 0px solid transparent; /* Ширина верхней стороны трапеции */
      border-right: 120px solid transparent; /* Ширина верхней стороны трапеции */
      overflow: hidden;
   }
   @media (max-width: 1165px) {
      height: 880px;
      background: #E2F0EF url('/img/check-up/doctor-working-table.jpg')top left no-repeat;
   }
}
.check-up__body{
   padding: 53px 0 0 63px;
}
.check-up__title {
   font-family: 'PT Sans Caption';
   font-style: normal;
   font-weight: 700;
   font-size: 38px;
   line-height: 49px;
   text-transform: uppercase;
   color: #364844;
}
.check-up__subtitle {
   margin-top: 2px;
   font-family: 'PT Sans Caption';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 28px;
   color: #364844;
}
.check-up__list {
   margin-top: 16px;
   list-style-type: none;
   
   .items {
     font-family: 'PT Sans Caption';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 21px;
     color: #364844;
   }
   
   .item {
     position: relative;
     padding-left: 16px; /* 9px от начала каждой строчки + 7px для точки */
     line-height: 1.4;
     font-family: 'PT Sans Caption';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 21px;
     color: #364844;
     
     &:not(:last-child) {
       margin-bottom: 13px; /* Расстояние между строками списка, кроме последней строки */
     }
     
     &::before {
       content: '';
       position: absolute;
       top: 7px; /* Расстояние точки от начала каждой строчки */
       left: 0;
       width: 7px;
       height: 7px;
       background: #1FA181;
       border-radius: 50%;
     }
   }
 }
 

.check-up__price {
   display: flex;
   margin-top: 33px;
   .price__discount{
      font-family: 'PT Sans Caption';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      color: #364844;
      margin-right: 16px;
   }
   .price__full{
      font-family: 'PT Sans Caption';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-decoration-line: line-through;
      color: #868686;
   }
}
.check-up__buttons {
   display: flex;
   flex-wrap: wrap;
}
.check-up__button{
   border-radius: 50px;
   display: flex;
   width: 196px;
   height: 43px;
   justify-content: center;
   align-items: center;
   font-family: 'PT Sans Caption';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   text-align: center;
   margin: 26px 0;
   transition: all 0.3s ease 0s;
   z-index: 2;
   &:hover,
   &:active  {
      background: #00D29F;
   }
   &:not(:last-child) {
      margin-right: 14px;
    }
}
.check-up__button_green {
   background: #0DBC91;
   color: #FFFFFF;
}
.check-up__button_border {
   border: 1px solid #0DBC91;
   font-family: 'PT Sans Caption';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   
   text-align: center;
   
   color: #0DBC91;
   &:hover,
   &:active {
      color: #FFFFFF;
      background: #0DBC91;
      border: 1px solid #0DBC91;
  }
}

/*------page__navigation--------------*/
.navigation__container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 34px 0 92px;
}
.navigation__block {
   display: flex;
   width: 169px;
   height: 34px;
   align-items: center;
   justify-content:space-between;
}
.block__number {
   display: flex;
   font-family: PT Sans Caption;
   font-size: 18px;
   font-weight: 400;
   line-height: 23px;
   letter-spacing: 0em;
   text-align: left;
   color: #C0C0C0;
   .number__active-page {
      color: #364844;
   }
}
.block__left-arrow {
   svg{
      :hover,
      :active {
         fill: #0DBC91;
      }
   }
}
.right-arrow {
   transform: rotate(180deg)
}
/*------FOOTER-----------------------------*/
.footer {
   background-color: #08664F;
   padding: 35px 0;
}
.footer__main {
   display: flex;
   justify-content: space-between;
}
.contacts__social {
   display: flex;
}
.social__item{
   &:not(:last-child) {
      margin-right: 15px;
   }
}